USE [AVALOPE_NOVO]
GO
/****** Object:  Table [dbo].[AVAL_ARVORE]    Script Date: 28/11/2017 08:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVAL_ARVORE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [nvarchar](200) NOT NULL,
	[OPERADOR] [int] NOT NULL,
	[REGIONAL] [int] NOT NULL,
	[EQUIPAMENTO] [int] NOT NULL,
	[NOTA] [float] NOT NULL,
	[AUTOMATICO] [bit] NOT NULL,
	[DATA] [datetime] NOT NULL,
	[DISTRIBUICAO] [bit] NOT NULL
) ON [PRIMARY]
GO
