USE [AVALOPE_NOVO]
GO
/****** Object:  Table [dbo].[AVAL_OPERADOR]    Script Date: 28/11/2017 08:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVAL_OPERADOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MATRICULA] [nvarchar](80) NOT NULL,
	[NOME] [nvarchar](80) NOT NULL,
	[ADMISSAO] [datetime] NOT NULL,
	[CENTROOPERACAO] [int] NOT NULL,
	[ATIVO] [bit] NOT NULL
) ON [PRIMARY]
GO
