USE [AVALOPE_NOVO]
GO
/****** Object:  Table [dbo].[AVAL_ACAOMANOBRA]    Script Date: 28/11/2017 08:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVAL_ACAOMANOBRA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [nvarchar](80) NOT NULL
) ON [PRIMARY]
GO
